







    div {
        display: inline-block;
        border: 1px solid black;
        width:  200px;
        height: 200px;
    }

    .vermelha {
        background-color: red;
    }


    .azul {
        background-color: blue;
    }

    .verde {
        background-color: green;
    }

    .amarela {
        background-color: yellow;
    }

    .hov:hover{
        background-color: aqua;
    }

    #canto {
        border:  2px solid black;
    }

 
